@import '../../../../../styles/scss/common.scss';

.search-resource {
    .search-btn-wrap {
        .search-btn {
            width: 100%;

        }
    }
}

.rating-group {
    display: flex;
    flex-flow: column;
}

@media screen and (max-width: 998px) {
    .search-resource {
        .col-lg-8 {
            margin-bottom: 10px;
        }
    }
}