@import './common.scss';

#header {
  .header-brand {}

  .header-search {
    .search-pc {
      position: relative;

      .search-pc-inner {

        .form-control {
          box-shadow: none;
          height: 4.3rem;
          padding: 0.375rem 1.5rem;
          border-color: #f3f7fe;
          text-align: center;
          border-radius: 6px;
          background: url('../../assets/images/sprites/search-icon.svg') no-repeat 38% center rgba(114, 128, 219, 0.15);
        }

        .form-control:focus {
          border-color: #66afe9;
          background: #f3f7fe;
        }
      }
    }

    .search-result {
      position: absolute;
      top: 55px;
      width: 100%;
      background-color: white;
      text-align: right;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      border-radius: 3px;

      .search-result-item {
        padding: 6px 0px;
        background-color: white;
        text-align: center;
      }

      .search-result-item span {
        cursor: pointer;
        color: $goodNightColor;
      }
    }
  }

  .header-account {
    .icons {
      margin: 0 17px 0 0;
    }

    .account-member {
      .account-name {
        color: $goodNightColor;
      }
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      top: 42px;
      background-color: white;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: $goodNightColor;
      ;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }
  }




}