@import './common.scss';

.section-locker {
    .locker-front {
        .main-title {
            h2 {
                font-size: 32px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.19;
                letter-spacing: -0.4px;
                color: $goodNightColor;
            }
        }

        .locker-tabs {
            .nav-tabs>li>a {
                font-size: 16px;
                font-weight: 400;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: 0.1px;
                text-align: center;
                color: $goodNightColor;
            }

            .nav-tabs>li.active>a:after {
                background-color: $mangoColor;
            }
        }

        .visual-learner {
            .btn-learner {
                border-radius: 6px;
                border: solid 1px #5ab88d;
                background-color: #ffffff;
                font-size: 14px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.71;
                letter-spacing: 0.09px;
                text-align: center;
                color: #337859;
            }
        }
    }

    //resource
    .locker-category {
        .locker-list {
            display: flex;
            flex-flow: row wrap;
            list-style: none;
            margin: 0 -39px;
            padding: 0;

            .locker-item {
                padding: 0 39px;
                float: left;
                width: 33.3333333%;
                margin-bottom: 8rem;

                .media-locker-item {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 1.2rem;
                    border-bottom: 1px solid rgba(238, 170, 53, 0.33);

                    .locker-image {
                        position: relative;

                        .image-caption {
                            position: absolute;
                            bottom: 0;
                            border-radius: 2px;
                            background-color: rgba(51, 120, 89, 0.7);
                            width: 100%;
                            padding: 5px;

                            a {
                                font-size: 14px;
                                font-weight: bold;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: normal;
                                color: #f9f9f9;
                            }
                        }
                    }

                    .locker-information {
                        .title p {
                            font-size: 18px;
                            font-weight: 500;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.56;
                            letter-spacing: normal;
                            text-align: right;
                            color: $goodNightColor;

                        }

                        .match p {
                            font-size: 16px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.38;
                            letter-spacing: normal;
                            text-align: right;
                            color: $blurpleColor;

                        }

                        .review {
                            text-align: end;
                            font-size: 18px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.22;
                            letter-spacing: normal;
                            text-align: right;
                            color: $blurpleColor;

                            .vote-star {
                                text-align: end;
                                margin-bottom: 10px;
                            }

                        }
                    }
                }

                .media-marketplace {
                    .image {
                        text-align: center;
                        margin-bottom: 19px;
                    }

                    .caption p {
                        text-align: center;
                        margin-bottom: -4px;

                    }
                }

                .locker-button {
                    .btn-resource {
                        border-radius: 6px;
                        border: solid 1.5px #5ab88d;
                        background-color: #ffffff;
                        font-size: 14px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.71;
                        letter-spacing: normal;
                        text-align: center;
                        color: #337859;
                    }

                    .btn-marketplace {
                        border-radius: 6px;
                        background-color: #5ab88d;
                        font-size: 14px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.71;
                        letter-spacing: normal;
                        text-align: center;
                        color: #ffffff;
                    }
                }


            }

        }
    }

    //review
    .locker-review {
        color: #111741;

        .locker-empty {
            p {
                margin-bottom: 16px;
            }

            .btn-start-review {
                width: 168px;
                height: 36px;
                border-radius: 6px;
                border: solid 1px #5ab88d;
                background-color: #5ab88d;
                color: #ffffff;
            }
        }

        .review-list {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            padding: 0;

            .review-item {
                padding: 0 15px;
                float: left;
                width: 33.3333333%;
                margin-bottom: 8rem;

            }

            .review-title a {
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.4;
                letter-spacing: normal;
                color: #111741 !important;
            }

            .review-match {
                display: flex;

                p {
                    padding-top: 4px;

                }

                .ant-rate {
                    margin-right: 10px;
                }

                .oval {
                    margin-right: 10px;
                }

            }

            .title-comment {
                font-family: HelveticaNeue;
                font-size: 16px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.75;
                letter-spacing: normal;
                color: #337859;
            }

            .comment {
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;

                min-height: 150px;
                //200 max count
            }

            .user-information {
                margin-top: 45px;
                display: flex;

                .profile-image img {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                }

                .profile-infor {
                    margin-left: 15px;
                    font-size: 16px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.75;
                    letter-spacing: normal;
                    color: #337859;

                }

                .verify-check {
                    margin-left: 0.675rem;
                }

                .score {
                    display: flex;
                    list-style: none;
                    padding-left: 0;

                    li {
                        padding-left: 5px;
                        font-size: 14px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 2;
                        letter-spacing: normal;

                    }

                    .separate {
                        color: rgba(17, 23, 65, 0.22);
                    }
                }
            }
        }

        .review-btn-wrap {
            text-align: center;

            .load-more {
                width: 168px;
                height: 36px;
                border-radius: 6px;
                border: solid 1px #5ab88d;
                background-color: #5ab88d;
                color: #ffffff;
            }
        }

    }
}

@media screen and (min-width: 1200px) {}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
    .section-locker {
        .locker-category {
            .locker-list {
                .locker-item {
                    width: 50%;
                }
            }
        }

        .locker-review {
            .review-list {
                flex-direction: column;

                .review-item {
                    width: 100%;

                }
            }
        }
    }
}

@media screen and (max-width: 899px) {}

@media screen and (max-width: 767px) {
    .section-locker {
        .locker-category {
            .locker-list {
                .locker-item {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 413px) {}

@media screen and (max-width: 374px) {}