.locker-review {
    color: #111741;

    .locker-empty {
        p {
            margin-bottom: 16px;
        }

        .btn-start-review {
            width: 168px;
            height: 36px;
            border-radius: 6px;
            border: solid 1px #5ab88d;
            background-color: #5ab88d;
            color: #ffffff;
        }
    }

    .review-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        .review-item {
            padding: 0 15px;
            float: left;
            width: 33.3333333%;
            margin-bottom: 8rem;

        }

        .review-title a {
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.4;
            letter-spacing: normal;
            color: #111741 !important;
        }

        .review-match {
            display: flex;

            p {
                padding-top: 4px;

            }

            .ant-rate {
                margin-right: 10px;
            }

            .oval {
                margin-right: 10px;
            }

        }

        .title-comment {
            font-family: HelveticaNeue;
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.75;
            letter-spacing: normal;
            color: #337859;
        }

        .comment {
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;

            min-height: 150px;
            //200 max count
        }

        .user-information {
            margin-top: 45px;
            display: flex;

            .profile-image img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }

            .profile-infor {
                margin-left: 15px;
                font-size: 16px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.75;
                letter-spacing: normal;
                color: #337859;

            }

            .verify-check {
                margin-left: 0.675rem;
            }

            .score {
                display: flex;
                list-style: none;
                padding-left: 0;

                li {
                    padding-left: 5px;
                    font-size: 14px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2;
                    letter-spacing: normal;

                }

                .separate {
                    color: rgba(17, 23, 65, 0.22);
                }
            }
        }
    }

    .review-btn-wrap {
        text-align: center;

        .load-more {
            width: 168px;
            height: 36px;
            border-radius: 6px;
            border: solid 1px #5ab88d;
            background-color: #5ab88d;
            color: #ffffff;
        }
    }

}