/*section upload profile*/
.profile-images-wrapper {
    position: relative;

    img.profile-image {
        border-radius: 50%;
    }

    input.upload-image {
        display: block;
        width: 43px;
        height: 31px;
        opacity: 0;
        position: absolute;
        left: 57%;
        right: 0;
        bottom: 0;
        z-index: 1;
        cursor: pointer;
    }

    .upload-image-icon {
        position: absolute;
        bottom: -0.1rem;
        left: 61%;
        margin-left: -.9375rem;
        cursor: pointer;
    }
}

.upload-image-crop.text-center {
    margin-top: 20px;

    .scale-range-wrapper {
        padding: 0 170px;
    }

    .btn-wrapper-crop {
        display: flex;
        justify-content: center;
    }

    .btn-crop {
        margin-right: 15px;
    }

    .btn-crop-cancel svg {
        color: red;
    }
}

/*end section upload profile*/
/* Responsive */
@media screen and (min-width: 1200px) {
    .profile-images-wrapper {
        input.upload-image {
            width: 45px;
            height: 21px;
            left: 56%;

            .upload-image-icon {
                position: absolute;
                bottom: -0.1rem;
                left: 62%;
                margin-left: -.9375rem;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .profile-images-wrapper {
        input.upload-image {
            width: 45px;
            height: 21px;
            left: 56%;

            .upload-image-icon {
                position: absolute;
                bottom: -0.1rem;
                left: 62%;
                margin-left: -.9375rem;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .profile-images-wrapper {
        input.upload-image {
            width: 45px;
            height: 21px;
            left: 57%;

            .upload-image-icon {
                position: absolute;
                bottom: -0.1rem;
                left: 62%;
                margin-left: -.9375rem;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 899px) {
    .profile-images-wrapper {
        input.upload-image {
            width: 45px;
            height: 21px;
            left: 57%;

            .upload-image-icon {
                position: absolute;
                bottom: -0.1rem;
                left: 68%;
                margin-left: -.9375rem;
                cursor: pointer;
            }
        }
    }

    .upload-image-crop.text-center {
        .scale-range-wrapper {
            padding: 0 173px;
        }
    }
}

@media screen and (max-width: 768px) {
    .profile-images-wrapper {
        input.upload-image {
            width: 45px;
            height: 21px;
            left: 57%;

            .upload-image-icon {
                position: absolute;
                bottom: -0.1rem;
                left: 68%;
                margin-left: -.9375rem;
                cursor: pointer;
            }
        }
    }

    .upload-image-crop.text-center {
        .scale-range-wrapper {
            padding: 0 198px;
        }
    }
}

@media screen and (max-width: 575px) {
    .profile-images-wrapper {
        input.upload-image {
            width: 47px;
            height: 20px;
            left: 58%;
        }

        .upload-image-icon {
            position: absolute;
            bottom: -0.1rem;
            left: 65%;
            margin-left: -.9375rem;
            cursor: pointer;
        }
    }

    .upload-image-crop.text-center {
        .scale-range-wrapper {
            padding: 0 130px;
        }
    }
}

@media screen and (max-width: 413px) {
    .profile-images-wrapper {
        input.upload-image {
            width: 47px;
            height: 21px;
            left: 60%;

            .upload-image-icon {
                position: absolute;
                bottom: -0.1rem;
                left: 68%;
                margin-left: -.9375rem;
                cursor: pointer;
            }
        }
    }

    .upload-image-crop.text-center {
        .scale-range-wrapper {
            padding: 0 50px;
        }
    }

    @media screen and (max-width: 374px) {
        .profile-images-wrapper {
            input.upload-image {
                width: 43px;
                height: 23px;
                left: 61%;

            }

            .upload-image-icon {
                position: absolute;
                bottom: -0.1rem;
                left: 71%;
                margin-left: -.9375rem;
                cursor: pointer;
            }
        }

        .upload-image-crop.text-center {
            .scale-range-wrapper {
                padding: 0 28px;
            }
        }
    }

    @media screen and (max-width: 321px) {
        .upload-image-crop.text-center {
            .scale-range-wrapper {
                padding: 0 28px;
            }
        }
    }

}