/*section upload profile*/
.profile-images-wrapper {
    position: relative;

    img.profile-image {
        border-radius: 50%;
    }

    input.upload-image {
        display: block;
        width: 43px;
        height: 31px;
        opacity: 0;
        position: absolute;
        left: 57%;
        right: 0;
        bottom: 0;
        z-index: 1;
        cursor: pointer;
    }

    .upload-image-icon {
        position: absolute;
        bottom: -0.1rem;
        left: 61%;
        margin-left: -.9375rem;
        cursor: pointer;
    }
}

.upload-image-crop.text-center {
    margin-top: 20px;

    .btn-wrapper-crop {
        display: flex;
        justify-content: center;
    }

    .btn-crop {
        margin-right: 15px;
    }

    .btn-crop-cancel svg {
        color: red;
    }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    .profile-images-wrapper {
        input.upload-image {
            display: block;
            width: 43px;
            height: 20px;
            opacity: 0;
            position: absolute;
            left: 58%;
            right: 0;
            bottom: 0;
            z-index: 1;
            cursor: pointer;
        }

        .upload-image-icon {
            position: absolute;
            bottom: -0.1rem;
            left: 63%;
            margin-left: -.9375rem;
            cursor: pointer;
        }
    }

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

    .profile-images-wrapper {
        input.upload-image {
            display: block;
            width: 43px;
            height: 20px;
            opacity: 0;
            position: absolute;
            left: 58%;
            right: 0;
            bottom: 0;
            z-index: 1;
            cursor: pointer;
        }

        .upload-image-icon {
            position: absolute;
            bottom: -0.1rem;
            left: 63%;
            margin-left: -.9375rem;
            cursor: pointer;
        }
    }

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

    .profile-images-wrapper {
        input.upload-image {
            display: block;
            width: 43px;
            height: 20px;
            opacity: 0;
            position: absolute;
            left: 58%;
            right: 0;
            bottom: 0;
            z-index: 1;
            cursor: pointer;
        }

        .upload-image-icon {
            position: absolute;
            bottom: -0.1rem;
            left: 63%;
            margin-left: -.9375rem;
            cursor: pointer;
        }
    }

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .profile-images-wrapper {
        input.upload-image {
            display: block;
            width: 43px;
            height: 20px;
            opacity: 0;
            position: absolute;
            left: 58%;
            right: 0;
            bottom: 0;
            z-index: 1;
            cursor: pointer;
        }

        .upload-image-icon {
            position: absolute;
            bottom: -0.1rem;
            left: 63%;
            margin-left: -.9375rem;
            cursor: pointer;
        }
    }

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

    .profile-images-wrapper {
        input.upload-image {
            display: block;
            width: 43px;
            height: 20px;
            opacity: 0;
            position: absolute;
            left: 60%;
            right: 0;
            bottom: 0;
            z-index: 1;
            cursor: pointer;
        }

        .upload-image-icon {
            position: absolute;
            bottom: -0.1rem;
            left: 66%;
            margin-left: -.9375rem;
            cursor: pointer;
        }
    }

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

    .profile-images-wrapper {
        input.upload-image {
            display: block;
            width: 43px;
            height: 20px;
            opacity: 0;
            position: absolute;
            left: 63%;
            right: 0;
            bottom: 0;
            z-index: 1;
            cursor: pointer;
        }

        .upload-image-icon {
            position: absolute;
            bottom: -0.1rem;
            left: 71%;
            margin-left: -.9375rem;
            cursor: pointer;
        }
    }

}