@import './common.scss';

#page_content {
    .section-breadcrumb {
        .breadcrumb {
            li {
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                color: $goodNightColor;

                a {
                    color: #337859;
                }
            }
        }

        .breadcrumb>li+li:before {
            position: relative;
            top: 0;
            margin-right: 30px;
            border: solid #337859;
            color: #337859;
            content: '';
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            font-size: 0;
        }
    }
}