p.step-paragraph-verify {
    margin-top: 2.875rem;
}

section.section-profile-edit.text-right {
    padding-right: 200px;

    .svg-inline--fa.fa-edit.fa-w-18 {
        width: 2.4rem;
        height: 2.4rem;
    }
}

button.btn.btn-primary.btn-save-profile {
    background-color: #0065f2;
    border: 1px solid #0065f2;
}

div.main-title-work {
    display: flex;
    justify-content: space-between;

    .svg-inline--fa.fa-plus-circle.fa-w-16 {
        width: 2.4rem;
        height: 2.4rem;
    }
}

.experiences-caption {
    border-radius: 6px;
    // background-color: rgba(238, 170, 53, 0.11);

    p.experiences-caption {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #111741;
    }
}

/*end section upload profile*/
/* Responsive */
@media screen and (min-width: 1200px) {}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 899px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 413px) {}

@media screen and (max-width: 374px) {}