@import './common.scss';

section.section-profile {
    .media-body {

        .profile-tag {
            li {
                border-radius: 6px;

                a {
                    font-family: HelveticaNeue;
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: $goodNightColor !important;
                    background-color: rgba(114, 128, 219, 0.22) !important;
                }
            }

        }

        .profile-user {
            color: $goodNightColor;

            p.user-name {
                font-size: 40px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: -0.3px;
                margin-bottom: 0px;

                sup {
                    margin-left: 5px;
                    font-size: 24px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.67;
                    letter-spacing: -0.3px;
                }
            }

            p.morehouse-des {
                font-size: 24px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: -0.3px;
                margin-bottom: 0px;
            }
        }

        .profile-connect {
            text-align: right;

            .btn-connect {
                padding: 15px 14px 14px;
                border-radius: 6px;
                background-color: $mangoColor;
                font-size: 16px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: 0.1px;
                text-align: center;
                color: $goodNightColor;
                min-width: 120px;
                ;

            }
        }
    }

}